.portion{
    background-color: aqua;
    text-align: center;
    color: black;
}
#Promo{
    background-color: indianred;
    color: beige;
    text-align: center;
}
p{
    background-color: yellow;
}